<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <description>
        ${project.parent.description}
    </description>
    <require_version>${openMRSRuntimeVersion}</require_version>
    <!-- / Module Properties -->

    <!-- Required Modules -->
    <require_modules>
        <require_module version="${webservicesRestModuleVersion}">org.openmrs.module.webservices.rest</require_module>
        <require_module version="${openmrsOwaVersion}">org.openmrs.module.owa</require_module>
    </require_modules>
    <!-- / Required Modules -->

    <!-- Module Activator -->
    <activator>${project.parent.groupId}.${project.parent.artifactId}.SubscriptionManagementActivator</activator>

    <!-- Maps hibernate file's, if present -->
    <mappingFiles>
        Event.hbm.xml
        Subscription.hbm.xml
        SubscriptionPatientAssignment.hbm.xml
    </mappingFiles>

    <!-- Adds link to admin page -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>org.openmrs.module.notifications.extension.html.AdminList</class>
    </extension>


</module>
